{% extends 'base.html.twig' %}

{% block title %}Bootstrap TODO{% endblock %}

{% block body %}

{% include 'task_list/header.html.twig' %}

<div class="container my-2 p-3 bg-container">
    <div id="list-header" class="row my-1 px-3 py-2">
        <div class="col-10">
            <h2>List: {{ list.name }}</h2>
        </div>
    </div>

    <div id="row-todolist" class="row my-1 px-4 py-2">
        <div class="col-12">
            <ul class="list-group">
                {% for todo in todos %}
                <li class="list-group-item list-group-item-action">
                    {{ todo.name }}
                    <span class="badge badge-primary badge-pill">expires: {{ todo.expires|date("Y/m/d") }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}