{#
# ヘッダコンテンツ
#}

<header id="index" class="container mb-2 p-3 bg-container">
    <div class="row">
        <div class="col-12">
            <a href="{{path('index')}}">
                <h1>SymfonyEx</h1>
            </a>
        </div>
    </div>
</header>
