{% extends 'base.html.twig' %}

{% block title %}Bootstrap TODO{% endblock %}

{% block body %}

{% include 'header.html.twig' %}

<div class="container my-2 p-3 bg-container">
    <div class="row my-1 px-3 py-2">
        <h2>TODO lists</h2>
    </div>

    <div id="row-todolist" class="row my-1 px-4 py-2">
        <div class="col-12">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    Tasks
                    <span class="badge badge-primary badge-pill">
                        10
                    </span>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Homeworks
                    <span class="badge badge-primary badge-pill">
                        4
                    </span>
                </a>
            </div>
        </div>
    </div>


</div>
{% endblock %}