{% extends 'base.html.twig' %}

{% block title %}SymfonyEx{% endblock %}

{% block body %}

{% include 'index/header.html.twig' %}

<div class="container my-2 p-3 bg-container">
   
</div>
{% endblock %}