//
// variables.scss
//

$body-bg: #111;
$body-color: #eee;

$theme-colors: (
    "container": #222,
    "primary": #1a1,
);

$list-group-bg: lighten(map-get($theme-colors, container), 10%);

$list-group-border-color: $body-color;
$list-group-border-width: 1px;

$list-group-action-color: $body-color;
$list-group-hover-bg: lighten($list-group-bg, 10%);
$list-group-action-active-bg: lighten($list-group-bg, 20%);
