{#
# ヘッダコンテンツ
#}

<header class="container mb-2 p-3 bg-container">
    <div class="row">
        <div class="col-9">
            <a href="{{path('index')}}">
                <h1>Bootstrap-TODO</h1>
            </a>
        </div>
        <div id="col-signin" class="col-3">
            <button class="btn btn-primary">
                Sign in
            </button>
        </div>
    </div>
</header>
